# @see https://github.com/github/gitignore
# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.bzip

# Windows
## Windows image file caches
Thumbs.db
## Folder config file
Desktop.ini

# OSX
.DS_Store?
Icon?
## Thumbnails
._*
## Files that might appear on external disk
.Spotlight-V100
.Trashes

# vim
.*.sw[a-z]
*.un~

# tags
TAGS
tags

# perl
blib/
pm_to_blib/
nytprof.out
.last_cover_status

# vim help
doc/tags
doc/tags-ja

# vim
.vim/vundle
.vim/neobundle

# freemind
.freemind/log.*
.freemind/auto.mmfilter
.freemind/*.mm

