# @see https://github.com/github/gitignore
# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.bzip

# Windows
## Windows image file caches
Thumbs.db
## Folder config file
Desktop.ini

# OSX
.DS_Store
.DS_Store?
Icon?
## Thumbnails
._*
## Files that might appear on external disk
.Spotlight-V100
.Trashes

# vim
.*.sw[a-z]
*.un~

# tags
TAGS
tags
tags-ja

# perl
blib/
pm_to_blib/
nytprof.out
.last_cover_status

# vim help
doc/tags
doc/tags-ja

# vim
/.vim/vundle
/.vim/neobundle
/.vim/spell
/.vim/doc/xml-plugin.txt

#emacs
/.emacs.d/cache
/.emacs.d/elisp
*.elc

# freemind
/.freemind/log.*
/.freemind/auto.mmfilter
/.freemind/*.mm

# xmonad
/.xmonad/xmonad-*
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o

# zsh
/.zsh/zfunc/*.local
/.zsh/zfunc/*.local.zsh

# gitconfig
/.gitconfig.d/*.local.txt

# pip
/.pip/pip.log

# rlwrap
/.rlwrap/.*
/.rlwrap/*_history
