"" http://ideavim.sourceforge.net/vim/
set number
set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000
" set selection=inclusive
" set matchpairs=(:),{:},[:]

" nmaps
" MEMO: :actionlist
" nnoremap x "_x
nnoremap j gj
nnoremap k gk
nnoremap * *N
nnoremap # #N

nnoremap ff f
nnoremap fa :action GotoFile<cr>
nnoremap fr :action GotoRelated<cr>
nnoremap fc :action GotoClass<cr>
nnoremap fj :action Switcher<cr>
nnoremap fo :action FileStructurePopup<cr>
nnoremap fij :action Switcher<cr>
nnoremap fio :action FileStructurePopup<cr>
nnoremap fs :action GotoSymbol<cr>
nnoremap fm :action RecentFiles<cr>
nnoremap fh :action GotoAction<cr>
nnoremap f,c :action Generate<cr>
" nnoremap fm :action GoToMenu<cr>

nnoremap gcc :action CommentByLineComment<cr>

nnoremap <C-Z> <Nop>

" code navigation
nnoremap te t
nnoremap tt :action GotoImplementation<cr>
nnoremap td :action GotoTypeDeclaration<cr>
nnoremap tr :action GotoRelated<cr>
nnoremap tu :action FindUsages<cr>
nnoremap tp :action GotoSuperMethod<cr>
nnoremap th gT
nnoremap tl gt
nnoremap tq :action CloseContent<cr>

nnoremap \r :action RunClass<cr>
nnoremap \d :action Debug<cr>

nnoremap [[ :action MethodUp<cr>
nnoremap ]] :action MethodDown<cr>
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap [c :action GotoPreviousError<cr>
nnoremap ]c :action GotoNextError<cr>
" nnoremap [m :action MethodUp<cr>
" nnoremap ]m :action MethodDown<cr>

nnoremap <C-I> :action Forward<cr>
nnoremap <C-O> :action Back<cr>

nnoremap <space>s :source ~/.ideavimrc<cr>
nnoremap <space>/ :action Find<cr>
nnoremap <space>b :action Back<cr>
nnoremap <space>f :action Forward<cr>
nnoremap <space>j :action GotoTest<cr>
nnoremap <space>h :action QuickJavaDoc<cr>
nnoremap <space>rr :action RenameElement<cr>
nnoremap <space>rm :action ExtractMethod<cr>
nnoremap <space>rv :action IntroduceVariable<cr>
nnoremap <space>ri :action Inline<cr>
nnoremap <space>ro :action OptimizeImports<cr>
nnoremap <space>rg :action Generate<cr>
nnoremap <space>w :action EditorToggleUseSoftWraps<cr>
" nnoremap <space>l :action EditorToggleShowWhitespaces<cr>
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

nnoremap _iw viwPyiw

" nnoremap <space>u :action FindUsages<cr>
" nnoremap <space>gt :action GotoTest<cr>

nnoremap <Leader>r :action RunClass<cr>
nnoremap <Leader>d :action Debug<cr>
nnoremap <Leader>a :action $SelectAll<cr>
nnoremap <Leader>h :action TypeHierachy<cr>
nnoremap <Leader>i :action ImplementMethods<cr>

" imaps
inoremap <C-[> <Esc>
inoremap <C-A> <C-o>^
inoremap <C-E> <C-o>$<Right>
inoremap <C-B> <Left>
inoremap <C-F> <Right>
inoremap <C-N> <Down>
inoremap <C-P> <Up>
inoremap <C-H> <BS>
inoremap <C-D> <Del>
inoremap <C-K> <C-o>D<Right>
inoremap <C-U> <C-o>d^
inoremap <C-W> <C-o>db

" vmaps
" vnoremap x "_x
vnoremap < <gv
vnoremap > >gv
vnoremap gcc :action CommentByLineComment<cr>
" vnoremap _ Pgvy

vnoremap <space>y "*y
vnoremap <space>Y "*Y
vnoremap <space>p "*p
vnoremap <space>P "*P

" set clipboard=unnamed,unnamedplus
" set mouse=a
" set iminsert=2

