<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\\</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\\0[0-7]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\\x[a-fA-F0-9]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\a</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\f</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\n</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\r</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\t</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\v</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>and</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asorti</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bindtextdomain</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>compl</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dcgettext</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dcngettext</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extension</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fflush</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gensub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>gsub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>index</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isarray</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>log</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lshift</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>match</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mktime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>or</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>patsplit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rshift</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>split</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sprintf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>srand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strftime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strtonum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>substr</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>system</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>systime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tolower</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toupper</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xor</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#[^\r\n]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>awk</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>gawk</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>dgawk</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>igawk</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>jgawk</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>pgawk</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>@include</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BEGIN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BEGINFILE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delete</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>END</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENDFILE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>func</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>function</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>in</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>next</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>next file</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nextfile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>printf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=(^|t| |;|,))0[0-7]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=(^|t| |;|,))0x[a-fA-F0-9]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=(^|t| |;|,))\d+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(func(?:tion)?)\s+(\w+)\s*\(</string>
			<key>keyString</key>
			<string>$1 $2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BEGIN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>END</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>_"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Gawk</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>$\d</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[.</string>
			<key>endString</key>
			<string>.]</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[:</string>
			<key>endString</key>
			<string>:]</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[=</string>
			<key>endString</key>
			<string>=]</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ARGC</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ARGIND</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ARGV</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BINMODE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CONVFMT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENVIRON</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ERRNO</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>FIELDWIDTHS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>FILENAME</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>FNR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>FPAT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>FS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IGNORECASE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LINT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NF</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>OFMT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>OFS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ORS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PROCINFO</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RLENGTH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RSTART</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SIGHUP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SIGUSR1</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SUBSEP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TEXTDOMAIN</string>
		</dict>
	</array>
</dict>
</plist>
