<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>call</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>help</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>history</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>load</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lower</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>p</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pause</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>plot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pwd</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>raise</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>replot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reread</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>save</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shell</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>show</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>splot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>system</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>test</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>update</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#(.*+)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>gp</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>plt</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>angles</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>arrow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>autoscale</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>binary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bmargin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>border</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boxwidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cblabel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cbmtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cbrange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cbtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clabel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>clip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cntrparam</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>colorbox</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>contour</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>data</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>datafile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>decimalsign</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dgrid3d</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dummy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>encoding</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>every</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fillstyle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fontpath</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>format</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>functions</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>grid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hidden3d</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>historysize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>index</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isosamples</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>key</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>label</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>linecolor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>linestyle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>linetype</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>linewidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lmargin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadpath</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>locale</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>logscale</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ls</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>macros</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mapping</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>margin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>matrix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>missing</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>multiplot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mx2tics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mxgrid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mxtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>my2tics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mygrid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mytics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mztics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noautoscale</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noborder</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noclip</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nocontour</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nogrid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nohidden3d</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nokey</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nomxtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nomytics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noparametric</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nopolar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nosurface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>notime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>notitle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noxtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noxzeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noytics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noyzeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nozeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nozzeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>object</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>offsets</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>origin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>output</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>palette</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parametric</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pm3d</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pointsize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pointtype</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>polar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ps</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rmargin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rrange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>samples</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>size</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>smooth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>style</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>surface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>t</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>term</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>terminal</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>thru</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ti</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ticscale</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ticslevel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>time</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>timefmt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>timestamp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>title</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tmargin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>trange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>u</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>urange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>usi</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>using</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>variables</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>version</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>view</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vrange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>w</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>with</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x2data</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x2dtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x2label</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x2mtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x2range</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x2tics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x2zeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xdata</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xdtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xlabel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xmtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xplane</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xrange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xzeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y2data</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y2dtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y2label</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y2mtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y2range</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y2tics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y2zeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ydata</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ydtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ylabel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ymtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yrange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ytics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yzeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zdata</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zdtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zero</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zeroaxis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zlabel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zmtics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zrange</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ztics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>zzeroaxis</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;![a-zA-Z_])[\-\+]?[0-9\.]+((deg)|(pi))?</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pi</string>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array/>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>gnuplot</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>box</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boxerrorbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boxerrorbars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boxes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boxxyerrorbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boxxyerrorbars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>candlestick</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>candlesticks</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>d</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dots</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>empty</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>errorbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>errorbars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>errorline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>errorlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filledcurve</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filledcurves</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>financebar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>financebars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fstep</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fsteps</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>histep</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>histeps</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>histogram</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>histograms</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>image</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>impulse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>impulses</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>l</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>labels</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>li</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>line</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>linespoint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>linespoints</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noborder</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pattern</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pm3d</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>points</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rgbimage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>solid</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>steps</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vectors</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xerrorbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xerrorbars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xerrorline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xerrorlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xyerrorbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xyerrorbars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xyerrorline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xyerrorlines</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yerrorbar</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yerrorbars</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yerrorline</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>yerrorlines</string>
		</dict>
	</array>
</dict>
</plist>
