<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>=</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^:\s*\w{0,7}</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>a[[:blank:]]*\\</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>b</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>c[[:blank:]]*\\</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>d</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>D</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>e</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>g</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>G</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>h</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>H</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>i[[:blank:]]*\\</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>l</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>L</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>n</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>N</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>p</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>P</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>q</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Q</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>r</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>R</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>s(.)[^$1]*$1[^$1]*$1[wpmMiIge0-9]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>s/[^/]*/[^/]*/[wpmMiIge0-9]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>t</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>T</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>v</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>w</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>W</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>x</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y(.)[^$1]*$1[^$1]*$1[wpmMiIge0-9]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>y/[^/]*/[^/]*/[wpmMiIge0-9]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#[^\r\n]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>sed</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>gsed</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>ssed</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>$</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>+</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>,</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>/</string>
			<key>endString</key>
			<string>/[MI]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>[</string>
			<key>endString</key>
			<string>]</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\(</string>
			<key>endString</key>
			<string>\)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\\(.)</string>
			<key>endString</key>
			<string>$1[MI]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\{</string>
			<key>endString</key>
			<string>\}</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\|</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>~</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array/>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^:\s*\w+</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array/>
	<key>styleName</key>
	<string>Gsed</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\'</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\\c.</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\\d[0-9]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\\o[0-7]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\\x[[:xdigit:]]+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\`</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\a</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\B</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\f</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\n</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\r</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\t</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\v</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\w</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\W</string>
		</dict>
	</array>
</dict>
</plist>
