<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>abs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>acos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array.copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array.fill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array.getStatistics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array.invert</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array.sort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array.trim</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>autoUpdate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>beep</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bitDepth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>calibrate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>call</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>changeValues</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>charCodeAt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>d2s</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.addCheckbox</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.addCheckboxGroup</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.addChoice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.addMessage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.addNumber</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.addString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.create</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.getCheckbox</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.getChoice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.getNumber</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.getString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Dialog.show</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>doCommand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>doWand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>drawLine</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>drawOval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>drawRect</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>drawString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dump</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endsWith</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>eval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exec</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.dateLastModified</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.delete</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.directory</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.exists</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.getName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.getParent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.isDirectory</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.lastModified</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.makeDirectory</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.name</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.nameWithoutExtension</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.open</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.openAsRawString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.openAsString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.openDialog</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.rename</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.saveString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>File.separator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fillOval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fillRect</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.doFit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.f</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.getEquation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.logResults</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.nEquations</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.nParams</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.p</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.plot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.rSquared</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Fit.showDialog</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floodFill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fromCharCode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getArgument</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getBoolean</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getBoundingRect</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getCursorLoc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getDateAndTime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getDimensions</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getDirectory</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getDisplayedArea</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getFileList</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getHeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getHistogram</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getImageID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getImageInfo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getInfo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getLine</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getList</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getLocationAndSize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getLut</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getMetadata</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getMinAndMax</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getNumber</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getPixel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getPixelSize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getProfile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getRawStatistics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getResult</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getResultLabel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getSelectionBounds</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getSelectionCoordinates</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getSliceNumber</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getStatistics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getStringWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getThreshold</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getTime</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getTitle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getValue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getVersion</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getVoxelSize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getZoom</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.currentMemory</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.deleteRows</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.freeMemory</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.getToolName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.maxMemory</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.pad</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.redirectErrorMessages</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IJ.renameResults</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>imageCalculator</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>indexOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>is</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isActive</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isKeyDown</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isNaN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isOpen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lastIndexOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lengthOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lineTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.clear</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.get</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.getList</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.getValue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.setCommands</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.setList</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.setMeasurements</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>List.size</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>log</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>makeLine</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>makeOval</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>makePoint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>makePolygon</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>makeRectangle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>makeSelection</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>makeText</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>matches</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>maxOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>minOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>moveTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>newArray</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>newImage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>newMenu</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nImages</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nResults</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.add</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.drawEllipse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.drawLine</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.drawRect</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.drawString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.hide</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.lineTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.moveTo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.paste</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.remove</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.removeSelection</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.setPosition</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.show</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Overlay.size</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parseFloat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>parseInt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.add</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.addText</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.create</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.drawLine</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.getValues</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.setColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.setJustification</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.setLimits</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.setLineWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.show</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Plot.update</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>random</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rename</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>replace</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>requires</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resetMinAndMax</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resetThreshold</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>restorePreviousTool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>restoreSettings</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Returns the num</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>roiManager</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>round</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>run</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>runMacro</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>save</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>saveAs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>saveSettings</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenHeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectImage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectionContains</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectionName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectionType</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectWindow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setAutoThreshold</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setBackgroundColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setBatchMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setFont</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setForegroundColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setJustification</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setKeyDown</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setLineWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setLocation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setLut</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setMetadata</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setMinAndMax</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setOption</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setPasteMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setPixel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setResult</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setRGBWeights</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setSelectionLocation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setSelectionName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setSlice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setThreshold</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setTool</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setupUndo</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setVoxelSize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setZCoordinate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showMessage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showMessageWithCancel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showProgress</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>showStatus</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>snapshot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>split</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.getActiveChannels</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.getDimensions</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.getDisplayMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.getFrameRate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.getPosition</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.getStatistics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.isHyperstack</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setActiveChannels</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setChannel</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setDimensions</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setDisplayMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setFrame</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setFrameRate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setPosition</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setSlice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setTUnit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.setZUnit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Stack.swap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>startsWith</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String.append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String.buffer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String.copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String.copyResults</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String.paste</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String.resetBuffer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>substring</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toBinary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toHex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toLowerCase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toolID</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toString</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toUpperCase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>updateDisplay</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>updateResults</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>wait</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>waitForUser</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;!\\)//([^\n])*?(\n|(\?&gt;))</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>ijm</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>function</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>macro</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;![a-zA-Z])[0-9.]+(?![a-zA-Z])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*(function)\s*([^{]*)(?={)</string>
			<key>ignoreCase</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*(macro)\s*([^{]*)(?={)</string>
			<key>ignoreCase</key>
			<false/>
			<key>italic</key>
			<true/>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>ImageJ</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
</dict>
</plist>
