<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'\''</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>goto</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throw</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>/*</string>
			<key>endString</key>
			<string>*/</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>//.*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>pde</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>abs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>abstract</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>acos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ADD</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>add</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ALIGN_CENTER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ALIGN_LEFT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ALIGN_RIGHT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ALPHA</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>alpha</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ALPHA_MASK</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ALT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>AMBIENT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ambient</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ambientLight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>angleBetween</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>append</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>applyMatrix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>arc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ARGB</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>array</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>arraycopy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>arrayCopy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ArrayList</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ARROW</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>asin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>assert</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>atan2</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>background</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BACKSPACE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BASELINE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>beginCamera</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>beginDraw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>beginRaw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>beginRecord</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>beginShape</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BEVEL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bezier</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bezierDetail</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bezierPoint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bezierTangent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>bezierVertex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>binary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BLEND</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>blend</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>blendColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BLUE_MASK</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BLUR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Boolean</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BOTTOM</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>box</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>break</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>brightness</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>BURN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Byte</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>byte</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cache</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>camera</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>case</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>catch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ceil</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CENTER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>char</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Character</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>charAt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CHATTER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>class</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CLOSE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>close</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CMYK</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CODED</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>color</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>colorMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>COMPLAINT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>COMPONENT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>COMPOSITE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>concat</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CONCAVE_POLYGON</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>constrain</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>continue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CONTROL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CONVEX_POLYGON</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>copy</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CORNER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CORNERS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cos</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createFont</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createGraphics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createImage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createInput</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createOutput</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createReader</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>createWriter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CROSS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cross</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>cursor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>curve</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>curveDetail</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>curvePoint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>curveTangent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>curveTightness</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>curveVertex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>CUSTOM</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DARKEST</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>day</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>default</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DEG_TO_RAD</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DEGREES</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>degrees</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>delay</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DELETE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DIAMETER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DIFFERENCE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DIFFUSE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DILATE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DIRECTIONAL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>directionalLight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DISABLE_ACCURATE_TEXTURES</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DISABLE_DEPTH_SORT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DISABLE_NATIVE_FONTS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DISABLE_OPENGL_2X_SMOOTH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DISABLE_OPENGL_ERROR_REPORT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DISABLE_TEXT_SMOOTH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DISABLED</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>disableStyle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dist</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>div</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>do</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DODGE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>dot</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>double</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DOWN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>draw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>DXF</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ellipse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ellipseMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>else</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>emissive</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENABLE_ACCURATE_TEXTURES</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENABLE_DEPTH_SORT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENABLE_NATIVE_FONTS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENABLE_OPENGL_4X_SMOOTH</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENABLE_OPENGL_ERROR_REPORT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enableStyle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endCamera</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endDraw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endRaw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endRecord</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>endShape</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ENTER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>enum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>EPSILON</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>equals</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ERODE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ESC</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>EXCLUSION</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>exp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>expand</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>extends</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>fill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>filter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>final</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>finally</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>float</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>floor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>flush</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>focused</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>for</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>frameCount</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>frameRate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>frustum</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>get</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getChild</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getChildCount</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getChildren</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getContent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getFloatAttribute</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getHeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getIntAttribute</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getName</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getStringAttribute</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>getWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>GIF</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>GRAY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>green</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>GREEN_MASK</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>GROUP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>HALF</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>HALF_PI</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>HAND</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>HARD_LIGHT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>HashMap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>height</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>HINT_COUNT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hour</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>HSB</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>hue</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>if</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>IMAGE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>image</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>imageMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>implements</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>import</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>indexOf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>instanceof</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>int</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>interface</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>INVERT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>isVisible</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>JAVA2D</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>join</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>JPEG</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>key</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>keyCode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>keyPressed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>keyReleased</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>keyTyped</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LEFT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>length</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lerp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lerpColor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LIGHTEST</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lightFalloff</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lights</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>lightSpecular</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>limit</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>line</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LINES</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>link</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>LINUX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>list</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadBytes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadFont</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadImage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadPixels</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadShape</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loadStrings</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>log</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>long</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>loop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MACOSX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mag</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>map</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mask</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>match</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>matchAll</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>max</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MAX_FLOAT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MAX_INT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>millis</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>min</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>minute</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MITER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MODEL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>modelX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>modelY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>modelZ</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>month</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouseButton</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouseClicked</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouseDragged</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouseMoved</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mousePressed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouseReleased</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouseX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mouseY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MOVE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>mult</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>MULTIPLY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>native</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>new</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nf</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nfc</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nfp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>nfs</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NO_DEPTH_TEST</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noCursor</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noFill</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noise</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noiseDetail</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noiseSeed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noLights</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noLoop</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>norm</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NORMAL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>normal</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>normalize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noSmooth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noStroke</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>noTint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NTSC</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Object</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ONE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>online</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>OPAQUE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>OPEN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>open</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>OPENGL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>openStream</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ortho</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ORTHOGRAPHIC</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>OVERLAY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>P2D</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>P3D</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>package</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PAL</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>param</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PERSPECTIVE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>perspective</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PFont</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PGraphics</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PI</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PImage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PIXEL_CENTER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pixels</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pmouseX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pmouseY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>POINT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>point</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>POINTS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>popMatrix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>popStyle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>POSTERIZE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pow</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>print</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>printCamera</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>println</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>printMatrix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>printProjection</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PrintWriter</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>private</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PROBLEM</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PROJECT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>protected</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PShape</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>public</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pushMatrix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>pushStyle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>PVector</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>quad</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>QUAD_STRIP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>QUADS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>QUARTER_PI</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RAD_TO_DEG</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RADIANS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>radians</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RADIUS</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>random</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>randomSeed</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rect</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rectMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>red</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RED_MASK</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>redraw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>REPLACE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>requestImage</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resetMatrix</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>resize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RETURN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>return</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>reverse</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RGB</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>RIGHT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rotate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rotateX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rotateY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>rotateZ</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>ROUND</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>round</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>saturation</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>save</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>saveBytes</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>saveFrame</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>saveStream</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>saveStrings</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>scale</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SCREEN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screen</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenX</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenY</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>screenZ</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SECAM</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>second</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectFolder</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectInput</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>selectOutput</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>set</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setup</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>setVisible</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shape</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shapeMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SHIFT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shininess</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>short</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>shorten</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>size</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>smooth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SOFT_LIGHT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sort</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SPECULAR</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>specular</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sphere</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sphereDetail</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>splice</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>split</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>splitTokens</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>spotLight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sq</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sqrt</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SQUARE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>static</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>status</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>str</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strictfp</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>String</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>StringBuffer</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>stroke</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strokeCap</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strokeJoin</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>strokeWeight</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>sub</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>subset</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>substring</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SUBTRACT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>SVIDEO</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>synchronized</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TAB</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tan</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TARGA</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TEXT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>text</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textAlign</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textAscent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textDescent</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textFont</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textLeading</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textSize</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>texture</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textureMode</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>textWidth</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TFF</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>THIRD_PI</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>this</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>Thread</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>THRESHOLD</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throw</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>throws</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TIFF</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>tint</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toLowerCase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TOP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>toUpperCase</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>transient</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>translate</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>triangle</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TRIANGLE_FAN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TRIANGLE_STRIP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TRIANGLES</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>trim</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>try</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TUNER</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TWO</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>TWO_PI</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unbinary</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>unhex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>UP</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>updatePixels</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>vertex</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>void</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>volatile</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>WAIT</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>while</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>WHITESPACE</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>width</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>XMLElement</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>year</string>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>[ \t\f]0[xX][0-9a-fA-F]+[lL]*</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^([[:blank:]]*)(private)\s*([^{]*)(?={)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([[:blank:]]*)(protected)\s*([^{]*)(?={)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^([[:blank:]]*)(public)\s*([^{]*)(?={)</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*(class)(.*)$</string>
			<key>ignoreCase</key>
			<true/>
			<key>keyString</key>
			<string>$1 : $2</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>Processing</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>false</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>NaN</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>null</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>super</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>this</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>true</string>
		</dict>
	</array>
</dict>
</plist>
