<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;==)\s*'</string>
			<key>endString</key>
			<string>'</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;![CDATA[</string>
			<key>endString</key>
			<string>]]&gt;</string>
		</dict>
	</array>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;)!DOCTYPE</string>
			<key>endString</key>
			<string>"</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;)!ENTITY</string>
			<key>endString</key>
			<string>"</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;)\?xml</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\?(?=&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&lt;!--</string>
			<key>endString</key>
			<string>--&gt;</string>
		</dict>
	</array>
	<key>completionsArray</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>&lt;/array&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/data&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/date&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/dict&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/integer&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/key&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/plist&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/real&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;/string&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;array&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;data&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;date&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;dict&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;false/&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;integer&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;key&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;plist version="1.0"&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;real&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;string&gt;</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>&lt;true/&gt;</string>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>plist</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)array\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)data\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)date\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)dict\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)false\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)integer\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)key\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)plist\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)real\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)string\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;/?)true\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>xml:(?=[a-z])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>xmlns:(?=[a-z])</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array/>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
			<key>ignoreCase</key>
			<false/>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;#[0-9]+;</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;amp;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;copy;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;gt;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;hearts;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;infin;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;laquo;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;lt;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;nbsp;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;quot;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;raquo;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;reg;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&amp;yen;</string>
			<key>regularExpression</key>
			<false/>
		</dict>
	</array>
	<key>styleName</key>
	<string>property list</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=xml:)lang\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=xml:)space\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\sencoding\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\sversion\b(?=[^&lt;&gt;]*&gt;)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
