<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\b([a-zA-Z0-9_\-.])+(?=\()</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>#.*+</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>completionsArray</key>
	<array/>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>r</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>q</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\babort\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\barray\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bbreak\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bcontinue\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\belse\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bexit\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bfor\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bfunction(?=\s*\()</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bgosub\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bgoto\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bif\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bloop\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\brepeat\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bresize\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\breturn\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\buntil\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bwhile\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\b-?0x[0-9a-f]+\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b-?[0-9.]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\b0b[01]+\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>outlineMenuArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>^[\t ]*(\S+)[\t ]*&lt;-[\t ]*function</string>
			<key>keyString</key>
			<string>function: $1</string>
		</dict>
	</array>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>"</string>
			<key>endString</key>
			<string>"</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>R</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\bfalse\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\btrue\b</string>
			<key>ignoreCase</key>
			<true/>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
