<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>charactersArray</key>
	<array/>
	<key>commandsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>&lt;![CDATA[</string>
			<key>endString</key>
			<string>]]&gt;</string>
		</dict>
		<dict>
			<key>beginString</key>
			<string>&lt;?</string>
			<key>endString</key>
			<string>?&gt;</string>
		</dict>
	</array>
	<key>commentsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>--</string>
			<key>endString</key>
			<string>--</string>
		</dict>
	</array>
	<key>completionsArray</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>xmlns:atom="http://www.w3.org/2005/Atom"</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xmlns:content="http://purl.org/rss/1.0/modules/content/"</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xmlns:dc="http://purl.org/dc/elements/1.1/"</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xmlns:slash="http://purl.org/rss/1.0/modules/slash/"</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"</string>
		</dict>
	</array>
	<key>extensions</key>
	<array>
		<dict>
			<key>keyString</key>
			<string>rdf</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>rss</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>xml</string>
		</dict>
		<dict>
			<key>keyString</key>
			<string>atom</string>
		</dict>
	</array>
	<key>keywordsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))author\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))category\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))channel\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))cloud\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))comments\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))content:encoded\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))content:encoding\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))content:format\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))content:item\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))content:items\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))copyright\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))day\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:contributor\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:coverage\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:creator\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:date\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:description\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:format\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:identifier\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:language\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:publisher\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:relation\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:rights\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:source\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:subject\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:title\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))dc:type\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))description\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))docs\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))enclosure\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))generator\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))guid\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))height\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))hour\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))image\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))item\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))language\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))lastBuildDate\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))link\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))managingEditor\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))name\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))pubDate\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))rating\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))rss\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))skipDays\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))skipHours\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))slash:comments\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))source\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))sy:updateBase\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))sy:updateFrequency\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))sy:updatePeriod\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))textInput\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))title\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))ttl\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))url\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))webMaster\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;=&lt;(|/))width\b</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
	<key>numbersArray</key>
	<array/>
	<key>outlineMenuArray</key>
	<array/>
	<key>stringsArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>(?&lt;==)"</string>
			<key>endString</key>
			<string>"</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>(?&lt;==)'</string>
			<key>endString</key>
			<string>'</string>
		</dict>
	</array>
	<key>styleName</key>
	<string>RSS</string>
	<key>valuesArray</key>
	<array>
		<dict>
			<key>beginString</key>
			<string>\bdomain(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bencoding(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bhref(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bhreflang(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bisPermaLink(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\blength(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bpath(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bport(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bprotocol(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bregisterProcedure(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\brel(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\btitle(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\btype(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\burl(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bversion(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
		<dict>
			<key>beginString</key>
			<string>\bxmlns:[-a-zA-Z0-9]+(?==)</string>
			<key>regularExpression</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
