<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="noindex, nofollow"/>
		<title></title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
		<style type="text/css"><!--
			--></style>
		<script src="http://www.google.com/jsapi"></script>
		<script>//<![[CDATA[
			google.load("jquery", "1.7.1");
			google.load("jqueryui", "1.8.16");
			//]]></script>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script>//<![CDATA[
			Array.prototype.forEach = Array.prototype.forEach || function(callback,thisObject){ for(var i=0,len=this.length;i<len;i++) callback.call(thisObject,this[i],i,this) };
Array.prototype.map = Array.prototype.map || function(callback,thisObject){ for(var i=0,res=[],len=this.length;i<len;i++) res[i] = callback.call(thisObject,this[i],i,this); return res;};
Array.prototype.filter = Array.prototype.filter || function(callback,thisObject){ for(var i=0,res=[],len=this.length;i<len;i++) callback.call(thisObject,this[i],i,this) && res.push(this[i]); return res; };
Array.prototype.some = Array.prototype.some || function(callback,thisObject){ for(var i=0,len=this.length;i<len;i++) if(callback.call(thisObject,this[i],i,this)) return true; return false;};
(function($, global) {
	$(function() {
	});
})(jQuery);
//]]></script>
</head>
<body>
	<header>
	</header>
	<div id="container" class="container">
	</div>
	<footer>
	</footer>
</body>
</html>
